.featured-article {
    width: 70%;
    margin-top: 15px;
    background-color: #EEEDEB;
    border-radius: 10px;
    padding: 10px;
}

.featured-article h2 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-section {
    width: 70%;
    padding: 15px;
}

.image-section{
    display: flex;
}

.image-section img{
    width: 170px;
    border-radius: 5px;
    padding: 7px;
}



